
<div class="card container">
    <div class="card-header"  style="color: rgb(82, 33, 175); font-size: 40px; font-weight: bold;" >
        Add payment
    </div>

    <div class="card-block" style="margin-left:15%">
        <form [formGroup]="form">
            <!--Student-->
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline" >
                <mat-label>RegNo</mat-label>
                <mat-select formControlName="studentId" (selectionChange)="studentSelected($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let student of studentArray" [value]="student._id" >
                    {{student.regNo}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="this.form.get('studentId').hasError('required')">The student is required</mat-error>
              </mat-form-field>
            </div>
            <br>

            <!--Subject-->
            <mat-label style="margin-left:-70px;  font-weight: bold;">Subject</mat-label>
            <div class="card" style="margin-left:-80px; width:130%; margin-top:10px;" appearance="outline" >
                
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let subject of subjectArray" [value]="subject._id">
                    {{subject.name}},{{subject.fee}}
                  </mat-option>       
            </div>

            <!-- Date -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <input formControlName="date" (click)="picker.open()" matInput
                        [matDatepicker]="picker" placeholder="Choose a  payment date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="this.form.get('date').hasError('required')">The date is required</mat-error>

                </mat-form-field>
            </div>

            <!-- Amount-->
            <div class="form-group" >
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput type="amount" placeholder="Enter your amount"formControlName="amount">
                    <mat-error *ngIf="this.form.get('amount').hasError('required')">The amount is required</mat-error>
                    <mat-error *ngIf="this.form.get('amount').hasError('max')">Invalid amount</mat-error>
                    <mat-error *ngIf="this.form.get('amount').hasError('min')">Invalid amount</mat-error>
                    <mat-error *ngIf="this.form.get('amount').hasError('pattern')">Invalid amount</mat-error>

                </mat-form-field>
            </div>

            <!--IsPay-->
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>IsPay</mat-label>
                    <mat-select formControlName="isPay">
                     <mat-option  value="Paid">Paid</mat-option>
                    <mat-option  value="NotPaid">NotPaid</mat-option>
                    <mat-error *ngIf="this.form.get('isPay').hasError('required')">The payment details is required</mat-error>
                    </mat-select>


                </mat-form-field>
            </div>

             <br>

            <input (click)="onSubmit(form)" type="submit" class="btn btn-primary "
                value="Submit">
        </form>
    </div>
</div>
