<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a  class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/aboutus">About Us<span class="sr-only">(current)</span></a>
      </li>
    </ul>

    
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      
      
      <li>
        <span class="spacer"></span>
        <a mat-button *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a mat-button mat-raised-button *ngIf="!authService.loggedIn()" routerLink="/signup" routerLinkActive="active">Singup</a>
        <a mat-button style="cursor:pointer"*ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="assets/img/E.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">ATC Insitute</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">admin name</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="./index.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index2.html" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index3.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v3</p>
                </a>
              </li>
            </ul>
          </li>
         
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Pages
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/add-teacher">
                  <i class="far fa-circle nav-icon"></i>Teacher Add<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/add-staff">
                  <i class="far fa-circle nav-icon"></i>Staff Add<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/add-subject">
                  <i class="far fa-circle nav-icon"></i>Subject Add<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/add-student">
                  <i class="far fa-circle nav-icon"></i>Student Add<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/add-class">
                  <i class="far fa-circle nav-icon"></i>Class Add<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/add-attendance">
                  <i class="far fa-circle nav-icon"></i>Attendance Add<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/add-payment">
                  <i class="far fa-circle nav-icon"></i>Payment Add<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </li>
            

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Tables
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              
                <li class="nav-item active">
                  <a class="nav-link"  routerLink="/teachers">
                    <i class="far fa-circle nav-icon"></i>TeachersDetails<span class="sr-only">(current)</span></a>
                    
                </li>
                <li class="nav-item active">
                  <a class="nav-link"  routerLink="/staffs">
                    <i class="far fa-circle nav-icon"></i>StaffsDetails<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link"  routerLink="/students">
                  <i class="far fa-circle nav-icon"></i>StudentsDetails<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/classes">
                  <i class="far fa-circle nav-icon"></i>ClassesDetails<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/attendances">
                  <i class="far fa-circle nav-icon"></i>AttendacesDetails<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/payments">
                  <i class="far fa-circle nav-icon"></i>PaymentDetails<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link"  routerLink="/subjects">
                  <i class="far fa-circle nav-icon"></i>SubjectDetails<span class="sr-only">(current)</span></a>
              </li>
             
            </ul>
          </li>


          <li class="nav-header">EXAMPLES</li>
          <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Gallery
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Charts
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/charts/chartjs.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ChartJS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/charts/flot.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Flot</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/charts/inline.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inline</p>
                </a>
              </li>
            </ul>
          </li>
         

         
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Extras
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/examples/login.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Login</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/examples/register.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Register</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/examples/forgot-password.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Forgot Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/examples/recover-password.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Recover Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/examples/lockscreen.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Lockscreen</p>
                </a>
              </li>
             
              
            </ul>
          </li>
         
         
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard </h1>
          </div><!-- /.col -->
         
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
        
    <router-outlet></router-outlet>      
    
    
  
  

