
<p>admin works!</p>
<div class="sidebar">
    <ul>
        <br> <br>
        <div>
            <a class="btn btn-success ctn-block" routerLink='/admin/add-student'><i class="fa fa-plus"> Add Student</i></a>
        </div>
        <br> <br>
        
        <div>
            <a class="btn btn-success ctn-block" routerLink='/admin/add-staff'><i class="fa fa-plus"> Add Staff</i></a>
        </div>
        <br> <br>
        <div>
            <a class="btn btn-success ctn-block" routerLink='/admin/add-subject'><i class="fa fa-plus"> Add Subject</i></a>
        </div>
        <br> <br> 
        <div>
            <a class="btn btn-success ctn-block" routerLink='/admin/add-teacher'><i class="fa fa-plus"> Add Teacher</i></a>
        </div>
           
  
 
    </ul>
  </div>
  
      
  
  <router-outlet></router-outlet>


