

<div *ngIf="payment" class="card container">
    <h3 class="card-header" style="color: rgb(82, 33, 175); font-size: 30px; font-weight: bold;text-align: center;">Payment</h3>
    <div class="card-body">
        <div class="row" style="font-size: 27px;">

            <h3 class="pull-right">
                Student RegNo :
            </h3> {{payment.student.regNo}}
        </div>
        <div class="row" style="font-size: 27px;">

            <h3 class="pull-right">
                Student : 
            </h3> {{payment.student.name}}
        </div>
        
        <div class="row" style="font-size: 27px;">

            <h3 class="pull-right">
                Date : 
            </h3> {{payment.date | date:"mediumDate"}}
        </div>
        <div class="row" style="font-size: 27px;">

            <h3 class="pull-right">
                Amount : 
            </h3> {{payment.amount}}
        </div>
      
    </div>  
    <div class="card-footer" > 
        <button mat-raised-button color="primary"  aria-label="Example icon button with a delete icon">
         <mat-icon  (click)="editClient() ">edit</mat-icon>
       </button>
        <button mat-raised-button color="warn" aria-label="Example icon button with a delete icon">
         <mat-icon  (click)="deleteClient()">delete</mat-icon>
       </button>
    </div>
</div>
        
    
