<p>staff-page works!</p>
<br> <br>
<div>
  <a class="btn btn-success ctn-block" routerLink='/staff-page/add-payment'><i class="fa fa-plus"> Add payment</i></a>
 </div>
 <br> <br>
 <div>
  <a class="btn btn-success ctn-block" routerLink='/staff-page/add-class'><i class="fa fa-plus"> Add Class</i></a>
 </div>
 <br> <br>
 <div>
  <a class="btn btn-success ctn-block" routerLink='/staff-page/add-attendance'><i class="fa fa-plus"> Add Attendance</i></a>
 </div>
 <br> <br>
 <router-outlet></router-outlet>