<div class="row">
  <div class="col-md-6">
    <div style="font-size: 50px; padding:30px; font-weight: bold; color: rgb(38, 38, 204);"><i class="fa fa-users" ></i> Students</div>
  </div>
  <br>
  <br>
  <div class="form-group row">
      <div class ="col-sm-4" style="margin-left:40px;">
        <br>
        <br>
        <br>
       <input type="text"   class="form-control" placeholder="Search here" [(ngModel)]="searchText" />
      </div>
    <div class="container-fluid ">
    <div class="col-12 col-sm-6 col-md-3 " >
      <div class="info-box mb-4" >
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
     <div class="info-box-content">
          <div class="pull-right" style="  font-size: 20px;  font-weight: bold;">Total Students: {{studentsCount}}</div>
         <br>
        </div>
      </div>
  </div>
  </div>


<table *ngIf="studentArray?.length>0; else noStudent" class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th >No.</th>
      <th >RegNo.</th>
      <th >studentname</th>
      <th >address</th>
      <th >grade</th>
      <th >gender</th>
      <th >guardianName</th>
      <th >telephoneNo</th>
     <th ></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentArray | grdFilter:
     { guardianName:searchText,
      address:searchText,
      gender:searchText,
      studentname: searchText,
      regNo: searchText,
      grade:searchText}| paginate :{itemsPerPage:10,currentPage:p};let i=index;">
      <td >{{i+1}}</td>
      <td >{{student.regNo}}</td>
      <td >{{student.studentname}}</td>
      <td >{{student.address}}</td>
      <td >{{student.grade}}</td>
      <td >{{student.gender}}</td>
      <td >{{student.guardianName}}</td>
      <td >{{student.telephoneNo}}</td>
      

      <td>
        <a class="btn btn-primary btn-sm" (click)="toStudentDetails(student._id)"  ><i class="fa fa-arrow-circle-o-right"></i> Details</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="form-group row"></div>
<div>
  <pagination-controls (pageChange)="p=$event" ></pagination-controls>

</div>

<ng-template #noStudent>
  <hr />
  <h4>There are no Students in the system</h4>
</ng-template>
